<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Senior Software Engineer at
      <a class="underline-link" href="https://www.microsoft.com/en-us/ai" target="_blank">Microsoft AI</a>. I studied at 
      <a class="underline-link" href="https://www.cs.rutgers.edu/" target="_blank">Rutgers University - New Brunswick</a> and completed 3 internships at the following companies:
      <a class="underline-link" href="https://www.linkedin.com/company/appnexus/" target="_blank">AppNexus</a>,
      <a class="underline-link" href="https://www.prudential.com/" target="_blank">Prudential</a>, and
      <a class="underline-link" href="https://www.viacomcbs.com/" target="_blank">Viacom</a>.
    </p>

    <p>
      As a platform engineer, I oversee a fleet of ~30k Azure virtual instances, use AI tooling to automate solutions, and manage the Terraform infrastructure for an entire org &mdash; here are a few certifications I've earned along the way:
    </p>
    <ul class="certifications">
      <li>
        Microsoft Certified:
        <ul>
          <li>
            <a class="underline-link" href="https://learn.microsoft.com/en-us/credentials/certifications/azure-administrator/" target="_blank">Azure Administrator Associate (AZ-104)</a>
          </li>
          <li>
            <a class="underline-link" href="https://learn.microsoft.com/en-us/credentials/certifications/azure-fundamentals/" target="_blank">Azure Fundamentals (AZ-900)</a>
          </li>
        </ul>
      </li>
      <li>
        Sumo Logic Certified:
        <ul>
          <li>
            <a class="underline-link" href="https://www.sumologic.com/learn/certifications/" target="_blank">Power Admin</a>
          </li>
          <li>
            <a class="underline-link" href="https://www.sumologic.com/learn/certifications/" target="_blank">Power User</a>
          </li>
          <li>
            <a class="underline-link" href="https://www.sumologic.com/learn/certifications/" target="_blank">Fundamentals</a>
          </li>
        </ul>
      </li>
    </ul>



    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably cooking or adventuring!
    </p>
  </div>
</section>
